<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Add New Transaction</h1>
    <form method="post">
        <label for="transaction">Transaction Data:</label>
        <input type="text" id="transaction" name="transaction" required>
        <button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>

</body>
</html>
